/* Estilos generales */
body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.home-administrador {
  padding: 20px;
}

/* Banner */
.admin-banner {
  text-align: center;
  background: #ff6f61;
  color: white;
  padding: 50px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.admin-banner h1 {
  font-size: 2.5em;
  margin: 0;
  animation: fadeInDown 1s ease-in-out;
}

/* Cuerpo del administrador */
.admin-body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* Opciones del administrador */
.admin-options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  flex: 1;
  max-width: 600px; /* Ajustar el tamaño máximo para que coincida con la sección de datos del restaurante */
}

.admin-option {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px; /* Aumentar el padding para hacer los botones más grandes */
  text-align: center;
  transition: transform 0.3s ease;
}


.admin-option:hover {
  transform: scale(1.05);
}

.admin-option h3 {
  color: #333;
  margin: 0;
  font-size: 18px;
}

/* Perfil del administrador */
.admin-profile {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 600px;
  width: 100%;
}

.profile-image img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.profile-details h2 {
  color: #333;
  margin-bottom: 10px;
}

.profile-details p {
  color: #666;
  margin: 5px 0;
}

/* Animación */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.admin-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.profile-image img {
  width: 120px; /* Ajusta el tamaño según prefieras */
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.profile-details h2 {
  margin: 10px 0;
  font-size: 24px;
}

.profile-details p {
  margin: 5px 0;
  color: #555; /* Puedes ajustar el color del texto */
}

