.home {
  padding: 20px;
}

/* Banner Styling */
.banner {
  text-align: center;
  padding: 20px;
  background-color: #f8f9fa;
  margin-bottom: 20px;
}

/* Menu del Día Styling */
.menu-dia {
  margin-bottom: 20px;
}

.menu-dia h2 {
  margin-bottom: 10px;
}

.scrollable-dishes {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding-bottom: 10px;
}

.dish {
  min-width: 150px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  flex-shrink: 0;
}

/* Imagen Styling */
.dish img {
  width: 150px; /* Ajusta este valor según sea necesario */
  height: 150px; /* Ajusta este valor según sea necesario */
  object-fit: cover;
  border-radius: 8px; /* Opcional: para redondear las esquinas de las imágenes */
}

/* Promotions Styling */
.promotions h2 {
  margin-bottom: 10px;
}

.promo-cards {
  display: flex;
  gap: 10px;
}

.promo-card {
  flex: 1;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
}
.dish img {
  width: 150px; /* Ajusta este valor según sea necesario */
  height: 150px; /* Ajusta este valor según sea necesario */
  object-fit: cover;
  border-radius: 8px; /* Opcional: para redondear las esquinas de las imágenes */
}
