/* Pagos.css */

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  .pagos {
    padding: 20px;
  }
  
  .pagos h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .pagos p {
    text-align: center;
    color: #666;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  .form-group select,
  .form-group input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Asegura que el padding se incluya en el tamaño total del elemento */
  }
  
  .tarjeta-info {
    margin-top: 20px;
  }
  
  .pago-button {
    background: #ff6f61;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
    display: block;
    margin: 20px auto 0;
  }
  
  .pago-button:hover {
    background: #e65c50;
    transform: scale(1.05);
  }
  